
@{
    ViewData["Title"] = "Index";
}

@using TwistFood.Service.ViewModels.Orders;
@model List<OrderViewModel>

<div class="col-md-12">
    <!-- DATA TABLE -->
    <h3 class="title-5 m-b-35">Orders</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-right">
            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>add item
            </button>
            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                <select class="js-select2" name="type">
                    <option selected="selected">Export</option>
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                </select>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
    </div>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
                <tr>
                    <th>name</th>
                    <th>description</th>
                    <th>date</th>
                    <th>status</th>
                    <th>price</th>
                    <th>controls</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr class="tr-shadow">

                        <td>@order.UserPhoneNumber</td>
                        <td class="desc">@order.OrderDetails</td>
                        <td>@order.CreatedAt</td>
                        <td>
                            <span class="status--process">@order.Status</span>
                        </td>
                        <td>@order.TotalSum sum</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                    <i class="zmdi zmdi-more"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <!-- END DATA TABLE -->
</div>
