@using TwistFood.Service.ViewModels.Orders;
@model List<OrderViewModel>

<div class="container text-center mt-3 mb-3">
    <div class="row">
        @{
            if(Model.Count != 0)
            {
                <div class="col">
                    <h3 class="text-center">Amaldagi buyurtmalarim</h3>
                    <table class="table table-hover table-striped gy-7 gs-7">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                                <th>OrderId</th>
                                <th>Order Details</th>
                                <th>Payment Type</th>
                                <th>Total Sum</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var order in Model)
                                {
                                    if (order.Status != "Successful" && order.Status != "Cancelled" && order.Status != "New")
                                    {
                                        <tr>
                                            <td>#@order.Id</td>
                                            <td class="desc">
                                                @{
                                                    foreach(var product in order.OrderDetails)
                                                    {
                                                        <span>@product, </span>
                                                    }
                                                }</td>
                                            <td>@order.paymentType</td>
                                            <td>@order.TotalSum so'm</td>
                                            <td>@order.Status</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h3 class="text-center">Barcha buyurtmalarim</h3>
                    <table class="table table-hover table-striped gy-7 gs-7">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                                <th>OrderId</th>
                                <th>Order Details</th>
                                <th>Payment Type</th>
                                <th>Total Sum</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var order in Model)
                                {
                                    if (order.Status == "Successful")
                                    {
                                        <tr>
                                            <td>#@order.Id</td>
                                            <td class="desc">
                                                @{
                                                    foreach (var product in order.OrderDetails)
                                                    {
                                                        <span>@product, </span>
                                                    }
                                                }
                                            </td>
                                            <td>@order.paymentType</td>
                                            <td>@order.TotalSum so'm</td>
                                            <td>@order.Status</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col">
                    <h3 class="text-center">Sizda buyurtmalar mavjud emas</h3>
                    <div class="d-grid gap-2 col-3 mx-auto mt-3">
                        <a type="submit" class="btn btn-primary btn-block" asp-controller="products" asp-action="index">Buyurtmani berishni boshlash</a>
                    </div>
                </div>
            }
        }
    </div>
</div>