@using TwistFood.Service.ViewModels.Discounts;
@using TwistFood.Service.ViewModels.Products;
@model PagedList<ProductViewModel>

@{
    ViewData["Title"] = "Products Page";
}

<!-- food section -->

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Menu
            </h2>
        </div>
        <div class="table-data__tool d-flex justify-content-center">
            <div>
                <form class="d-flex mt-4 mb-4 mx-5" asp-area="" asp-controller="products" asp-action="index" method="get">
                    <input class="form-control"  name="search" type="search" value="@ViewBag.search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary mx-2" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="filters-content">
            <div class="row grid">
               
                @{
                    if (Model.Count == 1)
                    {
                        foreach (var product in Model)
                        {
                            <div class="col-md-12">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <img class="img-fluid" src="~/@product.ImagePath" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h5>
                                                @product.ProductName
                                            </h5>
                                            <div class="options">
                                                <h6>
                                                    @product.Price so'm
                                                </h6>
                                                <div class="def-number-input number-input safari_only">
                                                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                </div>
                                                <a asp-area="" asp-controller="orders" asp-action="delete" asp-route-Id="@product.Id" class="btn" style="background: #f70303;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if(Model.Count == 2)
                    {
                        foreach (var product in Model)
                        {
                            <div class="col-md-6">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <img class="img-fluid" src="~/@product.ImagePath" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h5>
                                                @product.ProductName
                                            </h5>
                                            <div class="options">
                                                <h6>
                                                    @product.Price so'm
                                                </h6>
                                                <div class="def-number-input number-input safari_only">
                                                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                </div>
                                                <a asp-area="" asp-controller="orders" asp-action="delete" asp-route-Id="@product.Id" class="btn" style="background: #f70303;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        foreach (var product in Model)
                        {
                            <div class="col-sm-6 col-lg-4">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <img class="img-fluid" src="~/@product.ImagePath" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h5>
                                                @product.ProductName
                                            </h5>
                                            <div class="options">
                                                <h6>
                                                    @product.Price so'm
                                                </h6>
                                                <div class="def-number-input number-input safari_only">
                                                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                </div>
                                                <a asp-area="" asp-controller="orders" asp-action="delete" asp-route-Id="@product.Id" class="btn" style="background: #f70303;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    
                }
            </div>
          @await Component.InvokeAsync("Pagination",new Tuple<string,string,string,string,PagenationMetaData>("products","index","",ViewBag.search,Model.MetaData))
        </div>
    </div>
</section>

<!-- end food section -->